<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>登录</title>
</head>
<body>
	<script src="../../public/script/api.js"></script>
	<script>
		apiready = function (){
			api.openFrame({
	            name: 'login_frm',
	            url: './login_frm.html',
	            rect: {
		            x:0,
		            y:0,
		            w:'auto',
		            h:'auto'
	            }
            });
		}
	</script>
</body>
</html>
