body,html{
    height: 100%;
    background-color: rgb(241,241,245);
    border:1px solid transparent;
}
header .aui-title{
    color: #585858!important;
}
.aui-bar-nav.aui-bar-light .aui-iconfont {
    color:#585858
}
.box{
    margin-top: 10px;
}
.container{
    margin:auto;
}
.none{
    height: 267px;
    text-align: center;
    background-color: #fff;
}
.none img{
    display: inline-block;
}
.text{
    line-height: 1.8em;
    font-size: 15px;
    color: #7e7e84;
}
.go-t{
    font-size: 12px;
    color: #7e7e84;
}
