<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>优惠券</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/aui.2.0.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/coupon.css" />
</head>
<body>
    <header class="aui-bar aui-bar-nav aui-bar-light">
        <div class="aui-pull-left aui-btn">
            <span class="aui-iconfont aui-icon-left"></span>
        </div>
        <div class="aui-title">优惠券中心</div>
    </header>
    <div class="box">
        <div class="none flex-wrap flex-middle flex-center">
            <div class="container">
                <img src="../../public/image/no_bg.png" alt="">
                <div class="text"><span>没有任何优惠券可领取~</span></div>
            </div>

        </div>
    </div>
</body>
</html>
