
.icon-heart:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-gittip:before { content: '\f184'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */